%article.smaller
  %h3
    Slide with bullet points (small font)
  %ul
    %li
      Use this template to create your presentation
    %li
      Use the provided color palette, box and arrow graphics, and
      chart styles
    %li
      Instructions are provided to assist you in using this
      presentation template effectively
    %li
      At all times strive to maintain Google's corporate look and feel
