%article
  %h3
    Slide with bullet points that builds
  %ul.build
    %li
      This is an example of a list
    %li
      The list items fade in
    %li
      Last one!
  .build
    %p Any element with child nodes can build.
    %p It doesn't have to be a list.
