%article.smaller
  %h3
    Simple slide with header and text (small font)
  %p
    This is a slide with just text. This is a slide with just text.
    This is a slide with just text. This is a slide with just text.
    This is a slide with just text. This is a slide with just text.
  %p
    There is more text just underneath with a
    = succeed "." do
      %code code sample: 5px
