%article
  %h3
    Styles
  %ul
    %li
      %span.red class="red"
    %li
      %span.blue class="blue"
    %li
      %span.green class="green"
    %li
      %span.yellow class="yellow"
    %li
      %span.black class="black"
    %li
      %span.white class="white"
    %li
      %b bold
      and
      %i italic
