%article.smaller
  %h3
    Slide with a table (smaller text)
  %table
    %tr
      %th
        Name
      %th
        Occupation
    %tr
      %td
        Luke Mahé
      %td
        V.P. of Keepin’ It Real
    %tr
      %td
        Marcin Wichary
      %td
        The Michael Bay of Doodles
