%article
  %p
    This is a slide with just text. This is a slide with just text.
    This is a slide with just text. This is a slide with just text.
    This is a slide with just text. This is a slide with just text.
  %p
    There is more text just underneath.
